<div class="question__wrapper">
    <div class="question">
        <div class="question__card">
            <h2 class="question__title" data-aos="fade-up" data-aos-duration="600" data-aos-delay="250">way2wood</h2>
            <h3 class="question__subtitle" data-aos="fade-up" data-aos-duration="600" data-aos-delay="350">Остались вопросы?</h3>
            <p class="question__description" data-aos="fade-up" data-aos-duration="600" data-aos-delay="450">Позвоните нам прямо сейчас и мы ответим на все интересующие Вас вопросы!</p>
            <button class="question__button" data-aos="fade-up" data-aos-duration="600" data-aos-delay="550">Позвонить</button>
        </div>
    </div>
</div>