
.collection-page{
max-width: 1200px;
margin: 0 auto;

}
.wrapper_collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  .name_wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-right: 20px;
  }
  .collection_title {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
    margin: 0 auto;
    margin-top: 50px;
  }
  .collection_name-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-right: 70px;
    margin-left: 40px;
    list-style: none;
    text-transform: uppercase;
    color: #777777;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300 light;
    justify-content: center;
    align-items: center;
  }
  .collection_name {
    color: #777777;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300 light;
  }
  hr {
    width: 450px;
    margin: 0 auto;
    border: none;
    background-color: #777777;
    height: 2px;
    margin-bottom: 30px;
  }
.collection {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    & .collection__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        color: #777777;
        font-weight: 300;
        letter-spacing: 1.5px;
        margin-bottom: 60px;
    }
    & .collection__tabs {
        & .collection__tabs-nav {
            width: 100%;
            max-width: 375px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            & .tabs__nav-item {
                width: 33.4%;
                cursor: pointer;
                font-size: 14px;
                color: #777777;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                border-bottom: 1px solid #777777;
                transition: all 300ms ease-in-out;
                padding-bottom: 10px;
            }
            & .text-align-l {
                text-align: left;
            }
            & .text-align-c {
                text-align: center;
            }
            & .text-align-r {
                text-align: right;
            }
            & .tabs__nav-item.active {
                border-bottom: 1px solid #A9853A;
                transition: all 300ms ease-in-out;
                color: #A9853A;
            }
        }
        & .tabs__description {
            & .tabs__description-title {
                margin-top: 50px;
                margin-bottom: 45px;
                font-size: 14px;
                font-weight: 300;
                color: #282828;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                line-height: 27px;
            }
            & .tabs__collection {
                column-count: 2;
                & .tabs__collection-item {
                    height: 100%;
                    box-sizing: border-box;
                    padding: 5px;
                    min-width: 296px;
                }
            }
        }
    }
    & .collection__button {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        border-bottom: 1px solid #D5D5D5;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        color: #777777;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        & img {
            transform: translateX(110px)
        }
    }
}