.collection-page{
max-width: 1200px;
margin: 0 auto;

}
.wrapper_collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  .name_wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-right: 20px;
  }
  .collection_title {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
    margin: 0 auto;
    margin-top: 50px;
  }
  .collection_name-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-right: 70px;
    margin-left: 40px;
    list-style: none;
    text-transform: uppercase;
    color: #777777;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300 light;
    justify-content: center;
    align-items: center;
  }
  .collection_name {
    color: #777777;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300 light;
  }
  hr {
    width: 450px;
    margin: 0 auto;
    border: none;
    background-color: #777777;
    height: 2px;
    margin-bottom: 30px;
  }