<p>collection works!</p>

<div class="collection-page">
    <h2 class="collection_title">коллекции</h2>
  
    <div class="wrapper_collection">
      <ul class="name_wrapper">
        <li class="collection_name-block">
          flora
        </li>
  
        <li class="collection_name-block">
          ornament
        </li>
        <li class="collection_name-block">
          forest
        </li>
  
      </ul>
  
    </div>
  
    <hr>
    <div class="collections_collection">
      <div class="collection_info">
        <p class="collection_name">Коллекция «Flora»- сплетение рельефного рисунка из листьев производит
          эффектное впечатление! Каждое изделие состоит из сотен граней, которые
          станут украшением любого интерьера.
          Зеркала из коллекции «Flora» могут быть выполнены в лаконичной и
          спокойной цветовой гамме, но W2W любит смелые цветовые решения!
          Именно в этой коллекции наиболее ярко выглядят металлизированные
          эмали, спецэффекты, патины и используются уникальные технологии
          покраски.</p>
      </div>
  
    </div>
    <div class="collection_portfolio">
      <div class="portfolio-works">
          