<div class="about-wrapper">
  
  <link rel="stylesheet" href="about.component.scss">
  <div class="about-image">
    <img class="about_image" src="../img/about_img.png">

  </div>
  <div class="acor-container_about">
    <div class="abouts_list">
      <h2 class="about-title">Наша мастерская W<span class="number">2</span>W</h2>
  
      <p class="about-group_info"> W2W предлагает уникальный интерьерный декор. Мы не копируем чужие работы. Постоянно находимся в поиске новых интересных решений и качественных материалов.</p>
      <hr>
      <input type="checkbox" name="chacor" id="chacor1" checked="checked" />
      <label for="chacor1">Каждый проект уникален</label>
      <a href="#" class="about__next"><img class="about__next_icon" src="assets/icon/icon_arrow.png"></a>
      <div class="acor-body_about">
        <p>Описание </p>
      </div>
      <hr>
      <input type="checkbox" name="chacor" id="chacor2" />
      <label for="chacor2">Индивидуальность для каждого</label>
      <div class="acor-body_about">
        <p>Описание</p>
      </div>
      <hr>
      <input type="checkbox" name="chacor" id="chacor3" />
      <label for="chacor3">материалы</label>
      <div class="acor-body_about">
        <p>Производство W2W находится в Москве. Мы располагаем свои собственным высокотехнологичным оборудованием</p>
  
      </div>
      <hr>
      <input type="checkbox" name="chacor" id="chacor4" />
      <label for="chacor4">контроль качества</label>
      <div class="acor-body_about">
        <p>Описание</p>
      </div>
      <hr>
      <input type="checkbox" name="chacor" id="chacor5" />
      <label for="chacor5">надёжные партнеры</label>
      <div class="acor-body_about">
        <p>Описание</p>
      </div>
      <hr>
    </div>
  </div>
</div>

    <div class="about">

        <div class="about__inner-wrapper">
            <div class="about__accordion">
                <h2 class="about__title">Наша Мастерская W<span class="highlighted">2</span>W</h2>
                <p class="about__subtitle">W2W предлагает уникальный интерьерный декор. Мы не копируем чужие работы. Постоянно находимся в поиске новых интересных решений и качественных материалов.</p>
                <app-accordion>
                </app-accordion>
            </div>
            <div class="about__image"><img class="about__image" src="assets/img/about_img.png"></div>
        </div>
    </div>
</div>