<div class="about-wrapper">
    <div class="about" id="about">

        <div class="about__inner-wrapper">
            <div class="about__accordion">
                <h2 class="about__title" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150">Наша Мастерская W<span class="highlighted">2</span>W</h2>
                <p class="about__subtitle" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150">W2W предлагает уникальный интерьерный декор. Мы не копируем чужие работы. Постоянно находимся в поиске новых интересных решений и качественных материалов.</p>
                <app-accordion>
                </app-accordion>
            </div>
            <div class="about__image" data-aos="fade-in" data-aos-duration="600" data-aos-delay="150"><img class="about__image" src="assets/img/about_img.png"></div>
        </div>
    </div>
</div>