<div class="about-wrapper">
    <div class="about">
        <div class="about__title">Наша Мастерская W2W</div>
        <div class="about__inner-wrapper">
            <div class="about__accordion">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Каждый проект уникален
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Индивидуальность Для каждого
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Материалы
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Производство W2W находится в Москве. Мы располагаем свои собственным высокотехнологичным оборудованием</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="about__image"><img class="about__image" src=""></div>
        </div>
    </div>
</div>