<div class="hero__wrapper">
    <div class="hero" id="hero">
        <h1 class="hero__title" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150">Way<span class="highlighted" data-aos="fade-in" data-aos-duration="600" data-aos-delay="1000">2</span>Wood</h1>
        <h2 class="hero__subtitle" data-aos="fade-up" data-aos-duration="600" data-aos-delay="550">уникальный интерьерный декор для вашего дома</h2>
        <button class="hero__button" (click)="onClickScroll('collection')" data-aos="fade-up" data-aos-duration="600" data-aos-delay="850">Коллекции</button>
        <div class="hero__arrow-icon" data-aos="fade-up" data-aos-duration="600" data-aos-delay="950"><img class="hero__arrow-icon" src="assets/icons/hero_icon.png"></div>
    </div>
</div>