<div class="hero__wrapper">
  <div class="hero" id="hero">
    <h1 class="hero__title">Way<span class="highlighted">2</span>Wood</h1>
    <h2 class="hero__subtitle">уникальный интерьерный декор для вашего дома</h2>
    <ul class="hero__socialmedia">
      <li class="hero__socialmedia-icon">
        <a href="https://vk.com/way2wood" target="_blank"
          ><img src="assets/icons/vkicon.png"
        /></a>
      </li>
      <li class="hero__socialmedia-icon">
        <a href="https://t.me/Way2Wood" target="_blank"
          ><img src="assets/icons/tgicon.png"
        /></a>
      </li>
      <li class="hero__socialmedia-icon">
        <a href="https://wa.me/79852439226?text=Добрый%20день!" target="_blank"
          ><img src="assets/icons/waicon.png"
        /></a>
      </li>
    </ul>
    <button class="hero__button" (click)="onClickScroll('collection')">
      Коллекции
    </button>
    <div class="hero__arrow-icon">
      <img class="hero__arrow-icon" src="assets/icons/hero_icon.png" />
    </div>
  </div>
</div>
