.highlighted {
    color: #A9853A;
}

.hero__wrapper {
    background-image: url("../../../../../assets/img/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    margin-top: -105px;
}

.hero {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 265px;
    & .hero__title {
        font-size: 7vw;
        letter-spacing: 1.5px;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
    }
    & .hero__subtitle {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        line-height: 27px;
        margin-top: 25px;
        text-align: center;
        color: #fff;
    }
    & .hero__socialmedia {
        display: flex;
        margin: 0 auto;
        margin-top: 35px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 100%;
        max-width: 220px;
        & li a {
            filter: grayscale(100);
            transition: all 300ms ease;
            &:hover {
                transition: all 300ms ease;
                filter: grayscale(0);
            }
            & img {
                width: 60px;
                height: 60px;
            }
        }
    }
    & .hero__button {
        width: 290px;
        height: 60px;
        margin: 0 auto;
        display: block;
        margin-top: 35px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.5px;
        border: 1px solid #ffffff;
        background: rgba(0, 0, 0, 0);
        transition: all 300ms ease-in-out;
        &:hover {
            background: rgba(#ffffff, 1);
            transition: all 300ms ease-in-out;
            color: #282828;
            cursor: pointer;
        }
    }
    & .hero__arrow-icon {
        display: block;
        margin: 0 auto;
        margin-top: 75px;
        animation: 1.3s linear 1.5s infinite running UpDown;
    }
}

@media screen and (max-width:428px) {
    .hero__title {
        font-size: 66px !important;
    }
    .hero__wrapper {
        background-position-x: 18%;
        background-position-y: 0px;
    }
}

@keyframes UpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}