.contacts__form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    & input {
        margin-bottom: 40px;
        border: none;
        border-bottom: 1px solid #777777;
        transition: all 250ms ease;
        color: #ADADAD;
        height: 35px;
        cursor: pointer;
        &::placeholder {
            transition: all 250ms ease;
            padding-left: 0px;
            transform: translateY(3px);
            font-size: 16px;
        }
        &:focus {
            border-bottom: 1px solid #393246;
            transition: all 250ms ease;
            &::placeholder {
                padding-left: 5px;
                transition: all 250ms ease;
                transform: translateY(-10px);
                font-size: 12px;
            }
        }
        &:focus-visible {
            outline: none;
        }
    }
    .form__button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        background: #404242;
        border: 1px solid rgba(#404242, 0);
        color: #fff;
        text-transform: uppercase;
        border: none;
        height: 60px;
        width: 230px;
        justify-content: center;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 14px;
        transition: all 250ms ease;
        & img {
            margin-left: 10px;
        }
        &:hover {
            transition: all 250ms ease;
            padding-left: 26px;
            cursor: pointer;
            background: #fff;
            border: 1px solid rgba(#404242, 1);
            color: #404242;
        }
    }
}