<footer>
    <div class="footer-wrapper" id="footer">
      <link rel="stylesheet" href="footer.component.scss">
      <div class="footer">
      <div class="footer_button">
        <a class="footer-link" href="#0">НАВЕРХ</a>
        <a class="footer-link" href="#0">WHATSAPP </a>

      </div>
      <div class="footer__copyright">
        <span>© Made With Love by<span style="color: #ff0000;">MadStack</span> Digital Agency</span>
    </div>
        <div class="footer">

            <div class="footer__logo">
                <img class="footers__logo" src="/assets/img/removebg-preview 1.png">
            </div>
            
            </div>
            </div>
    </div>
</footer>
