.footer-wrapper{
  width: 100%;
  background: #f7f7f7;
}
.footer{
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 250px;
  margin-top: 90px;
}
.footer_button{
display: block;
color: #777777;
margin: 20px 20px;
margin: 0 auto;
margin-top: 40px;
padding-right: 20px;

}
.footer__copyright{
  margin: 0 auto;
  margin-top: 40px;
}
.footer-link{
  color: #777777;
  margin-right: 30px;
  text-decoration: none;
}