<div class="footer__wrapper">
  <div class="footer">
    <div class="footer__button-wrapper">
      <a href="" class="footer__button-up" (click)="onClickScroll('hero')"
        >НАВЕРХ</a
      >
      <a
        href=""
        class="footer__button-wa"
        href="https://wa.me/79852439226?text=Добрый%20день!"
        >whatsapp</a
      >
    </div>
    <div class="footer__copyright">
      © 2022 Made with love by
      <a href="https://novikovweb.ru/" style="color: #ff0a0a">NovikovWeb</a>
    </div>
    <div class="footer__logo">
      <img class="footer__logo" src="assets/icons/logo.png" />
    </div>
  </div>
</div>
