
<header>
    <div class="header-wrapper">
        <div class="header">
            <div class="header_logo">
                <img class="header__logo-img" src="logo_img.png">
            </div>

            <div class="header__navigation">
                <div class="navigation-wrapper">
                    <ul class="header__navigation-item">
                        <li class="header_nav"><a href="#"> Коллекция</a></li>
                        <li class="header_nav"><a href="#"> О нас </a></li>
                        <li class="header_nav"><a href="#"> Заказать</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__info">
                <a href="#" class="header__phone"><img class="header__phone_icon" src="assets/icon/icon_phone_header.svg">+7 999 499-94-93</a>
            </div>

        </div>
        <hr>

        <div class="header-title">
            <h1 class="header_title-title">way<span class="number">2</span>wood</h1>
            <span class="header-post">уникальный интерьерный декор для вашего дома</span>
        </div>
        <div class="header-button">
            <button class="blog__card-btn">Коллекции</button>
        </div>
        <a href="" class="header_next"><img class="header__next_icon" src="assets/icon/hero_icon.png"></a>
    </div>

</header>
<div class="header__wrapper">
    <div class="header">
        <div class="header__logo"><img class="header__logo" src="assets/icons/logo.png"></div>
        <nav class="header__nav">
            <a class="header__nav-item">о нас</a>
            <a class="header__nav-item">коллекции</a>
            <a class="header__nav-item">заказать</a>
        </nav>
        <a href="" class="header__phone"><img class="header__phone-icon" src="assets/icons/icon_phone_header.svg">+7 999 499-94-93</a>
    </div>
</div>