.header-wrapper {
    max-width: 1920px;
    width: 100%;
    height: 800px;
    opacity: 0.7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 0.25);
    position: absolute;
    border: 1px solid #000000;
    top: 0;
    left: 0;
  }
  
  .header {
    width: 100%;
    max-width: 1919px;
    height: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .header_logo {
    width: 95px;
    margin-left: 180px;
  }
  .header__logo-img {
    margin-bottom: 70px;
  }
  
  .header__navigation-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 44px;
    margin-top: 45px;
  }
  
  .header ul li {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 30px;
  }
  hr {
    border: 0.5px solid #878787;
    max-width: 1919px;
  }
  .header__info {
    width: 176px;
    margin-bottom: 36px;
    margin-top: 36px;
    margin-right: 55px;
    font-size: 18px;
    line-height: 21px;
  }
  .header-info {
    text-decoration: none;
    color: #fff;
  }
  .header-title {
    position: relative;
  }
  .header_title-title {
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 20px;
    z-index: 1;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 140px;
    line-height: 164px;
  }
  .number {
    color: #a9853a;
  }
  .header-post {
    font-family: "Roboto Condensed";
    font-weight: 300 light;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: -60px;
  }
  .header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 57px;
    width: 290px;
    height: 60px;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }
  .blog__card-btn {
    color: #fff;
    border: none;
    background: none;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  