<div class="header__wrapper">
    <div class="header">
        <div class="header__logo"><img class="header__logo" src="assets/icons/logo.png"></div>
        <nav class="header__nav">
            <a class="header__nav-item">о нас</a>
            <a class="header__nav-item">коллекции</a>
            <a class="header__nav-item">заказать</a>
        </nav>
        <a href="" class="header__phone"><img class="header__phone-icon" src="assets/icons/icon_phone_header.svg">+7 999 499-94-93</a>
    </div>
</div>