.contacts__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #777777;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
}

.contacts {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & .contacts__left {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        & .left__title {
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 45px;
            color: #777777;
            margin-bottom: 30px;
        }
        & .left__subtitle {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
            color: #777777;
            margin-bottom: 30px;
        }
    }
    & .contacts__right {
        & .right__title {
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 45px;
            color: #777777;
            margin-bottom: 30px;
        }
        & ul {
            & li a {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                text-decoration: none;
                color: #777777;
                transition: all .3s ease;
                font-weight: 300;
                margin-bottom: 25px;
                & img {
                    margin-right: 15px;
                }
                &:hover {
                    transition: all .3s ease;
                    color: #4e4e4e;
                    text-decoration: underline;
                    font-weight: 300;
                }
            }
        }
    }
}

@media screen and (max-width:968px) {
    .contacts__right {
        margin-top: 30px;
    }
}