<div class="contacts__wrapper">
  <h2 class="contacts__title">Контакты</h2>
  <div class="contacts" id="contacts">
    <div class="contacts__left">
      <h3 class="left__title">Напишите нам</h3>
      <p class="left__subtitle">
        Заказать декор можно по телефону, или оставить заявку на почте и мы
        свяжемся с Вами в кратчайшие сроки.
      </p>
      <app-form></app-form>
    </div>
    <div class="contacts__right">
      <h3 class="right__title">Наши контакты</h3>
      <ul>
        <li>
          <a href="tel:+79852439226"
            ><img src="assets/icons/icon_phon.png" />+7 985 243-92-26</a
          >
        </li>
        <li>
          <a href="mailto:way2wood@info.ru"
            ><img src="assets/icons/icon_mail.png" />way2wood@info.ru</a
          >
        </li>
        <li>
          <a><img src="assets/icons/icon_clock.png" />Пн - Сб 9:00 — 18:00</a>
        </li>
        <li>
          <a
            ><img src="assets/icons/icon_location.png" />г. Москва, ул. Братьев
            Игнатовых, 1/1</a
          >
        </li>
        <li class="social__contacts">
          <div class="social__contacts-icons">
            <a
              href="https://wa.me/79852439226?text=Добрый%20день!"
              target="_blank"
              ><img src="assets/icons/waicon.png"
            /></a>
            <a href="https://t.me/Way2Wood" target="_blank"
              ><img src="assets/icons/tgicon.png"
            /></a>
            <a href="https://vk.com/way2wood" target="_blank"
              ><img src="assets/icons/vkicon.png"
            /></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
