<p>contacts works!</p>
<div class="contacts_wrapper">
  <link rel="stylesheet" href="contacts.component.scss">
  <div class="contacts">
<h1 class="contacts_title">контакты</h1>
  
  <div class="contact_info">
    <h1 class="title-contact">напишите нам</h1>
    <p class="contact_page">Заказать декор можно по телефону, или оставить заявку на почте и мы свяжемся с Вами в кратчайшие сроки.</p>
  </div>
  <form class="page">
   
    <div class="form">
      <div class="form-group">
        <label class="field-group">
          <span class="field-label">Ваше имя</span>
          <input class="field" placeholder="Например,Александр " required>
        </label>
      </div>
      <div class="form-group">
        <label class="field-group">
          <input type="email" class="field" placeholder="Ваша эл.почта" required>
        </label>
      </div>
      <div class="form-group">
        <label class="field-group">
          <textarea class="field textarea" placeholder="Ваше сообщение" required></textarea>
        </label>
      </div>
      <div class="form-row">
      <div class="form-group_form-actions">
        <button class="button button-reset" type="reset">Отправить</button>
        
      </div>
    </div>
   
  </div>


