<div class="accordion__module">
    <app-accordion-item title="Авторский декор">W2W предлагает уникальный интерьерный декор. Мы не копируем чужие работы. Постоянно находимся в поиске новых интересных решений и качественных материалов. Защищаем свои авторские права.</app-accordion-item>
    <app-accordion-item title="Индивидуальность">Наши клиенты могут выбрать индивидуальную модель, цветовое решение и размер. Кроме того широкий спектр материалов позволит найти оптимальное ценовое предложение. Каждое изделие формируется и согласуется в 3D формате и далее отправляется в производство.
        Дополнительно можем «визуализировать» Ваше изделие в Вашем интерьере.
    </app-accordion-item>
    <app-accordion-item title="Материалы">Производство W2W находится в Москве. Мы располагаем свои собственным высокотехнологичным оборудованием : станки ЧПУ, столярный цех, покрасочная камера. Все технологические процессы отработаны на разных материалах: МДФ, португальская древесная панель,
        массив дерева. Используем только профессиональные итальянские ЛКМ.
    </app-accordion-item>
    <app-accordion-item title="Высококвалифицированный
    труд">Команда W2W регулярно проходит стажировки позволяющие внедрять новые технологии в производстве интерьерного декора</app-accordion-item>
    <app-accordion-item title="Контроль качества">Прежде чем отправиться к заказчику каждое изделие проходит 8 этапов контроля качества. Начиная от создания STL-модели и заканчивая оценкой надёжности крепления</app-accordion-item>
    <app-accordion-item title="Надёжные партнёры">С нами сотрудничают такие компании как: Renner, Valchromat, Costamona и др.
    </app-accordion-item>
</div>