<div class="details__wrapper">
    <h2 class="details__title" data-aos="fade-in" data-aos-duration="600" data-aos-delay="250">мы в деталях</h2>
    <h3 class="details__subtitle" data-aos="fade-up" data-aos-duration="600" data-aos-delay="350">Мастерская W2W- производит изделия декора сочетающие красоту природы и современные технологии, древние узоры и первоклассные материалы. Нашу команду вдохновляет природа в своём многообразии и наследие наших предков.
    </h3>
    <div class="details__split"><img class="details__split" src="assets/img/splitline.png"></div>
    <div class="details">
        <div class="details__card">
            <h3 class="details__card-title" data-aos="fade-in" data-aos-duration="600" data-aos-delay="150">Материалы : португальская древесная плита</h3>
            <div class="details__card-image"><img src="assets/img/detail01.png" class="details__card-image"></div>
        </div>
        <div class="details__card">

            <h3 class="details__card-title" data-aos="fade-in" data-aos-duration="600" data-aos-delay="250">Латунные крепления</h3>
            <div class="details__card-image"><img src="assets/img/detail02.png" class="details__card-image"></div>
        </div>
        <div class="details__card">
            <h3 class="details__card-title" data-aos="fade-in" data-aos-duration="600" data-aos-delay="350">Работы по всему каталогу RAL</h3>
            <div class="details__card-image"><img src="assets/img/detail03.png" class="details__card-image"></div>
        </div>
    </div>
</div>