<div class="details__wrapper">
    <h2 class="details__title">мы в деталях</h2>
    <h3 class="details__subtitle">Мастерская W2W- производит изделия декора сочетающие красоту природы и современные технологии, древние узоры и первоклассные материалы. Нашу команду вдохновляет природа в своём многообразии и наследие наших предков.
    </h3>
    <div class="details__split"><img class="details__split" src="assets/img/splitline.png"></div>
    <div class="details">
        <div class="details__card">
            <h3 class="details__card-title">Материалы : португальская древесная плита</h3>
            <div class="details__card-image"><img src="assets/img/detail01.png" class="details__card-image"></div>
        </div>
        <div class="details__card">

            <h3 class="details__card-title">Латунные крепления</h3>
            <div class="details__card-image"><img src="assets/img/detail02.png" class="details__card-image"></div>
        </div>
        <div class="details__card">
            <h3 class="details__card-title">Работы по всему каталогу RAL</h3>
            <div class="details__card-image"><img src="assets/img/detail03.png" class="details__card-image"></div>
        </div>
    </div>
</div>